doctype html
html
  head
    meta(charset="utf-8")
    meta(content="IE=edge,chrome=1", http-equiv="X-UA-Compatible")
    meta(content="The LivingStyleGuide Gem – http://livingstyleguide.org", name="generator")
    meta(name="description", content=title)
    title= title
    != stylesheet

  body.livingstyleguide

    header.livingstyleguide--header
      h1.livingstyleguide--page-title= title

    .livingstyleguide--container
      != content

    footer.livingstyleguide--footer
